<!-- Navbar -->
<%- include("partials/item-header", { backPage: backPage }); -%>

    <!-- Header Section -->
    <div class="container-fluid" id="header-section">
      <h1>Education</h1>
      <p>
        I'm in my second year of studies towards a bachelor's degree in Computer Science at <a href="https://www.cuhk.edu.cn/en">The Chinese University of Hong Kong, Shenzhen (CUHKSZ)</a>. I studied at <a href="https://ipeka.org/location/ipeka-puri/">Ipeka Puri</a> from elementary to senior high school.
      </p>
      <!-- Education Institution Icons -->
      <div class="mb-3">
        <a class="social-icons"
          ><img src="/images/cuhksz.svg" alt="Bootstrap" height="25px"
        /></a>
        <a class="social-icons"
          ><img src="/images/ipeka.svg" alt="Mongodb" height="25px"
        /></a>
      </div>
    </div>

    <!-- Body Section -->
    <div class="container-fluid" id="body-section">
      <!-- CUHKSZ Subsection -->
      <h2 class="mt-0">CUHKSZ</h2>
      <p>
        Computer Science in CUHKSZ focuses on emerging areas, e.g., AI/Big Data/Robotics. I'm eager to take some  <em>AI</em> & <em>Machine Learning</em> courses as my Major Elective. Now, I'm still finishing my School Package and Major Required Courses, i.e., all the courses I must take for my CS degree.
      </p>
      <p>
        In university, I'm active as a committee member of PPITSZ, the official association for Indonesian students in Shenzhen. I'm currently serving as Vice President.
      </p>

      <!-- Ipeka Puri Subsection -->
      <h2>Ipeka Puri</h2>
      <p>
        I took a Mathematics and Natural Science (MIPA) Stream in my Senior High School.
      </p>
      <p>
        During Senior High School, I participated in several <em>Physics</em> and <em>Informatics</em> competitions, joined a <em>Coding</em> extracurricular, and was active as a Student Council member. The coding extracurricular was my turning point towards taking a CS degree. Guess what my childhood dream was!
      </p>
    </div>

<%- include("partials/footer"); -%>